<div class="container">
  <form #signupForm="ngForm" (ngSubmit)="submitForm(newProduct)">
    <div class="form-group row mb-2">
      <label for="name" class="col-md-2 col-form-label">Name</label>
      <div class="col-md-8">
        <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          placeholder="Product Name (required)"
          required
          minlength="3"
          [(ngModel)]="newProduct.name"
          #nameInput="ngModel"
          [ngClass]="{
            'is-invalid':
              (nameInput.touched || nameInput.dirty) && !nameInput.valid
          }"
        />

        <span class="invalid-feedback">
          @if(nameInput.errors?.['required']){
          <span>Name is required</span>
          } @if(nameInput.errors?.['minlength']){
          <span>Name at least 3 chars</span>
          }
        </span>
      </div>
    </div>
    <div class="form-group row mb-2">
      <label class="col-md-2 col-form-label" for="price">Price</label>
      <div class="col-md-8">
        <input
          class="form-control"
          id="price"
          type="number"
          placeholder="Price (required)"
          required
          name="price"
          [(ngModel)]="newProduct.price"
          #priceInput="ngModel"
          [ngClass]="{
            'is-invalid':
              (priceInput.touched || priceInput.dirty) && !priceInput.valid
          }"
        />
        <span class="invalid-feedback">
          @if(priceInput.errors?.['required']){
          <span>Price is required</span>
          }
        </span>
      </div>
    </div>

    <div class="form-group row mb-2">
      <label for="category" class="col-md-2 col-form-label">Category</label>
      <div class="col-md-8">
        <select
          class="form-control"
          id="category"
          [(ngModel)]="newProduct.category"
          required
          name="catId"
        >
          @for (cat of categories; track cat) {
          <option [ngValue]="cat.name">{{ cat.name }}</option>
          }
        </select>
        <span class="invalid-feedback"> </span>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-success btn-sm d-block ms-auto"
      [disabled]="!signupForm.valid"
    >
      {{ isEditing ? "Update" : "Submit" }}
    </button>
  </form>
</div>

<div>
  <h2 class="h1">Products</h2>
  <table border="2">
    <thead>
      <tr>
        <th>Name</th>
        <th>category</th>
        <th>price</th>
        <th>delete</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id) {
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button
            class="btn btn-danger btn-sm"
            routerLinkActive="router-link-active"
            (click)="deleteProduct(product.id)"
          >
            Delete
          </button>
        </td>
        <td>
          <button
            class="btn btn-primary btn-sm"
            routerLinkActive="router-link-active"
            (click)="startEditing(product)"
          >
            Edit
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
